body {
   --ShinigamiEyesDAFriendly: #77B91E;
   --ShinigamiEyesAbleist: #991515;
}

.shinigami-eyes-theme-green-red-max {
   --ShinigamiEyesDAFriendly: #00FF00;
   --ShinigamiEyesAbleist: #FF0000;
}

.shinigami-eyes-theme-purple-yellow {
   --ShinigamiEyesDAFriendly: rgb(153, 0, 255);
   --ShinigamiEyesAbleist: rgb(179, 152, 0);
}

.shinigami-eyes-theme-cyan-orange {
   --ShinigamiEyesDAFriendly: rgb(98, 161, 197);
   --ShinigamiEyesAbleist: #FB6A4A;
}

.assigned-label-ableist, a.assigned-label-ableist { color: var(--ShinigamiEyesAbleist) !important; }
.assigned-label-da-friendly, a.assigned-label-da-friendly { color: var(--ShinigamiEyesDAFriendly) !important; }

.has-assigned-label * { color: inherit !important; }
.shinigami-eyes-debug-snippet-highlight {
     outline: 2px dashed darkorchid !important;
     background-color: darkorchid !important;
     color: white !important;
 }
 .shinigami-eyes-debug-snippet-highlight:after {
    content: " ";
    pointer-events: none;
    z-index: 1000000;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: darkorchid !important;
    opacity: 0.5;
 }
